{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matching</title>
    <link rel="stylesheet" href="{% static 'styles/theme.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/participants.css' %}">
    <link rel="apple-touch-icon" href="{% static 'imgs/icons/apple-icon-180x180.png' %}" type="image/png">
    <link rel="icon" href="{% static 'imgs/icons/icon-120x120.png' %}" type="image/png">
    <meta name="theme-color" content="#222831">
    <link rel="manifest" href="{% static '/manifest.webmanifest' %}">
    <script src="{% static 'scripts/participants.js' %}" async></script>
    <script src="{% static 'scripts/loader.js' %}" async></script>
</head>

<body>
    <div id="container-loader" class="container-loader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <dialog class="filter container">
        <form class="filter__form" action="" method="post" name="filter">
            {% csrf_token %}
            <h2>Фильтры</h2>
            <select name="track" class="filter__input filter__select">
                {% if not selected_track %}
                    <option value="">Выберите трек</option>
                    {% for track in tracks %}
                    <option value="{{track}}">{{track}}</option>
                    {% endfor %}
                {% else %}
                    <option value={{selected_track}}>{{selected_track}}</option>
                    {% for track in tracks %}
                        {% if track != selected_track %}
                            <option value="{{track}}">{{track}}</option>
                        {% endif %}
                    {% endfor %}
                    <option value="">Выберите трек</option>
                {% endif %}
                
            </select>
            <input type="button" value="Выберете стек" class="filter__input"
                onclick="this.nextElementSibling.classList.toggle('opened')">
            <div class="filter__picker-wrapper">
                <div class="filter__picker-items filter__picker-choosed-items"></div>
                <div class="filter__picker-items">
                    {% for stack in stacks %}
                        <label class="filter__picker-item"><input type="checkbox" name="stack-item" value="{{stack}}"
                                onclick="transportCheckbox(this)">{{stack}}</label>
                    {% endfor %}
                </div>
                <input type="hidden" name="stack">
            </div>
            <input class="filter__input" type="number" max="11" min="1" value="{{selected_participant_class}}" name="participant-class"
                placeholder="Введите класс участия">
            <input class="filter__input" type="text" name="city" value="{{selected_city}}" placeholder="Введите город">
            <input class="filter__input filter__submit btn" type="submit" value="Поиск">
        </form>
    </dialog>
    <header class="header">
        <div class="container">
            <div class="header__icon">
                <a href="/">Matching</a>
            </div>
            <nav>
                <ul class="header__list">
                    <li class="header__list-item"><a href="/my-profile/">Профиль</a></li>
                    <li class="header__list-item active"><a href="/teams/">Команды</a></li>
                    <li class="header__list-item"><a href="/teams/my-team/">Моя команда</a></li>
                    <li class="header__list-item"><a href="/notifications/">Уведомления</a></li>
                </ul>
                <ul class="header__list header__list--mobile">
                    <li class="header__list-item"><a href="/" aria-label="Перейти на главную страницу">
                            <img src="{% static 'imgs/home.svg' %}" alt="значок главной">
                        </a></li>
                    <li class="header__list-item"><a href="/my-profile" aria-label="Перейти на страницу профиля">
                            <img src="{% static 'imgs/user.svg' %}" alt="значок профиля">
                        </a></li>
                    <li class="header__list-item active"><a href="/teams/" aria-label="Перейти на страницу команд">
                            <img src="{% static 'imgs/teams.svg' %}" alt="значок команд">
                        </a></li>
                    <li class="header__list-item"><a href="/teams/my-team/" aria-label="Перейти на страницу моей команды">
                            <img src="{% static 'imgs/my-team.svg' %}" alt="значок моей комманды">
                        </a></li>
                    <li class="header__list-item"><a href="/notifications/" aria-label="Перейти на страницу уведомлений">
                            <img src="{% static 'imgs/notifications.svg' %}" alt="значок уведомлений">
                        </a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="main__container container">
        <div class="search-container">
            <form class="search-form">
                <input type="search" value="" placeholder="Введите участника" class="search-input">
                <button type="submit" class="search-button">
                    <img src="{% static 'imgs/teams.svg' %}" alt="поиск">
                </button>
            </form>
            <button class="filters__button" area-label="кнопка открытия фильтров"
                onclick="document.querySelector('.filter').showModal()">
                <img src="{% static 'imgs/filters.svg' %}" alt="фильтры">
            </button>
        </div>
        <div class="participants-list">
            {% for member in users %}
                <div class="participant-container">
                    <div class="participant-img">
                        <img src="/media/{{member.profile.avatar}}" alt="аватар">
                        <button class="participant-invite" area-lable="значок добавить в команду"
                        onclick="inviteUser({{member.pk}}, this)"><img src="{% static 'imgs/cross.svg' %}" alt="иконка плюсика"></button>
                    </div>
                    <div class="participants-text">
                        <div class="participants-login-data">
                            <div class="participants-data-wrapper">
                                <a class="participant-link" href="/profiles/{{member.profile.pk}}">
                                    <div class="participant-login">{{member.username}}</div>
                                    <div class="participant-fio">{{member.profile.fio}}</div>
                                </a>
                            </div>
                            <button type="button" class="participant-invite" area-lable="значок добавить в команду"
                                onclick="inviteUser({{member.pk}}, this)"><img src="{% static 'imgs/cross.svg' %}" alt="иконка плюсика"></button>
                        </div>
                        <div class="participant-main-data">
                            <div class="participant-track">
                                <span>Трек:</span> {{member.profile.track.name}}
                            </div>
                            <div class="participant-stack">
                                {% if member.profile.stack %}
                                    <span>Стек:</span> {{member.profile.stack|join:", "}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>