<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        Политика Конфиденциальности
        Дата вступления в силу: 03.04.2024
        
        Мы уважаем конфиденциальность пользователей нашего веб-сайта. Эта Политика Конфиденциальности объясняет, как мы собираем, используем, раскрываем и защищаем вашу информацию, когда вы используете наш Сервис.
        
        Сбор и использование информации
        Мы собираем различные типы информации для различных целей, чтобы предоставлять и улучшать наш Сервис для вас.
        
        Типы данных, собранные
        Персональные данные: Мы можем собирать персональные данные, такие как ваше имя, адрес электронной почты, номер телефона, когда вы регистрируетесь на нашем Сервисе или взаимодействуете с ним.
        
        Данные использования: Мы также собираем информацию о том, как Сервис доступен и используется ("Данные использования"). Эти Данные использования могут включать информацию такую как ваш IP-адрес, тип браузера, версию браузера, страницы нашего Сервиса, которые вы посещаете, время и дату вашего визита.
        
        Использование данных
        Сайт использует собранные данные для различных целей:
        
        Чтобы предоставлять и поддерживать наш Сервис
        Чтобы уведомлять вас об изменениях в нашем Сервисе
        Чтобы позволить вам участвовать в интерактивных функциях нашего Сервиса, когда вы решите это сделать
        Чтобы предоставлять клиентскую поддержку
        Чтобы собирать анализ или ценную информацию, так что мы можем улучшить наш Сервис
        Чтобы контролировать использование нашего Сервиса
        Чтобы обнаруживать, предотвращать и решать технические проблемы
        Передача данных
        Ваша информация, включая Персональные данные, может быть передана — и поддерживается на — компьютерах, расположенных за пределами вашего штата, провинции, страны или другой государственной юрисдикции, где законы о защите данных могут отличаться от законов вашей юрисдикции.
        
        Безопасность данных
        Безопасность вашей информации для нас важна, но помните, что ни один метод передачи данных через интернет или метод электронного хранения не является на 100% безопасным. Хотя мы стремимся использовать коммерчески приемлемые способы для защиты вашей Персональной информации, мы не можем гарантировать ее абсолютную безопасность.
        
        Изменения в этой Политике Конфиденциальности
        Мы можем обновлять нашу Политику Конфиденциальности время от времени. Мы уведомим вас о любых изменениях, опубликовав новую Политику Конфиденциальности на этой странице.
        
        Связаться с нами
        Если у вас есть вопросы о этой Политике Конфиденциальности, пожалуйста, свяжитесь с нами.
        </pre>
</body>
</html>